{% extends '::layout.html.twig' %}

{% block content -%}
    <section class="row">
        <h1>
            Article {{ article.id }}
        </h1>
             <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <header>
                     <figure>
                         <img class="img-responsive" src="{{ article.image }}" alt="picture">
                         <figcaption>
                             <h1>{{ article.title }}</h1>
                         </figcaption>
                     </figure>
                 </header>
                 <p class="break-word">{{ article.content }}</p>
                 <p>Category: <a href="{{ path('categories', {'id': article.category}) }}" class="btn btn-default">
                         {{ article.category }}
                     </a>
                 <footer>
                     <p>{{ article.createdAt|date }} by {{ article.user }}</p>
                 </footer>
             </article>
    </section>
{% endblock %}